<div class="content">
  <h1 class="greeting">Feliz aniversário, {{ name }}!</h1>
  <p class="message">
    Que o seu dia seja repleto de bênçãos, alegria e prosperidade, assim como sua vida inteira!
    Saiba que me sinto imensamente orgulhoso de você, minha princesa. Eu te amo mais do que tudo, e
    embora muitas vezes eu possa não demonstrar o quanto você é importante para mim, estou lutando
    todos os dias para ser a melhor versão de mim mesmo.❤️
  </p>
  <p class="message">
    Meu maior desejo é que o nosso futuro seja cheio de felicidade, e que juntos possamos conquistar
    tudo o que sonhamos. Você merece o mundo, e estou ao seu lado para construir cada pedacinho dele!🌍
  </p>
</div>
